Adaptadores_Terceiros/Solution/Service References/wsVtex/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vtex.Commerce.OrderManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vtex.Commerce.OrderManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItem" nillable="true" type="tns:ArrayOfOrderItem" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyTogetherDiscountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOff" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CupomValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CupomValueOff" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiftDiscountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsStockImpact" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDeliveryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentOrderItemId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShippingCostOff" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockLikelyId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
</xs:schema>