Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ezCommerce.BusinessEntities.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ezCommerce.BusinessEntities.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoFiltro">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoFiltro" nillable="true" type="tns:PedidoFiltro" />
</xs:schema>