Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespostaProcessamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Erros" nillable="true" type="tns:ArrayOfRespostaProcessamentoErro" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespostaProcessamentoLst" nillable="true" type="tns:ArrayOfRespostaProcessamento" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusProcessamento" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespostaProcessamento" nillable="true" type="tns:RespostaProcessamento" />
  <xs:complexType name="ArrayOfRespostaProcessamentoErro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespostaProcessamentoErro" nillable="true" type="tns:RespostaProcessamentoErro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespostaProcessamentoErro" nillable="true" type="tns:ArrayOfRespostaProcessamentoErro" />
  <xs:complexType name="RespostaProcessamentoErro">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoErro" type="xs:int" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespostaProcessamentoErro" nillable="true" type="tns:RespostaProcessamentoErro" />
  <xs:complexType name="ArrayOfRespostaProcessamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespostaProcessamento" nillable="true" type="tns:RespostaProcessamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespostaProcessamento" nillable="true" type="tns:ArrayOfRespostaProcessamento" />
  <xs:simpleType name="StatusProcessamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sucesso" />
      <xs:enumeration value="Erro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusProcessamento" nillable="true" type="tns:StatusProcessamento" />
  <xs:complexType name="EntidadeBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntidadeBase" nillable="true" type="tns:EntidadeBase" />
</xs:schema>