Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ezCommerce.BusinessEntities.Filters" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" />
  <xs:element name="PedidosDisponiveisComFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ezCommerce.BusinessEntities.Filters" minOccurs="0" name="filter" nillable="true" type="q1:PedidoFiltro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidosDisponiveisComFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="PedidosDisponiveisComFiltroResult" nillable="true" type="q2:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidosDisponiveis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidosDisponiveisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="PedidosDisponiveisResult" nillable="true" type="q3:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidosAtualizados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidosAtualizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="PedidosAtualizadosResult" nillable="true" type="q4:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="ConfirmaRecebimentoPedidoResult" nillable="true" type="q5:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoAtualizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoAtualizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="ConfirmaRecebimentoPedidoAtualizadoResult" nillable="true" type="q6:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrProtocolo" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="ConfirmaRecebimentoPedidoLstResult" nillable="true" type="q8:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoAtualizadoLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrProtocolo" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaRecebimentoPedidoAtualizadoLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="ConfirmaRecebimentoPedidoAtualizadoLstResult" nillable="true" type="q10:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="statusPedido" nillable="true" type="q11:StatusPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="AtualizarStatusPedidoResult" nillable="true" type="q12:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarPacote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="pacote" nillable="true" type="q13:Pacote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarPacoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="CriarPacoteResult" nillable="true" type="q14:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPacotePorPacoteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PacoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPacotePorPacoteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="RemoverPacotePorPacoteIDResult" nillable="true" type="q15:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPacotePorCodigoBarras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverPacotePorCodigoBarrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="RemoverPacotePorCodigoBarrasResult" nillable="true" type="q16:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorPacoteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PacoteID" type="xs:int" />
        <xs:element minOccurs="0" name="TrackingStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorPacoteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="AtualizarStatusPacotePorPacoteIDResult" nillable="true" type="q17:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorCodigoBarras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TrackingStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorCodigoBarrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="AtualizarStatusPacotePorCodigoBarrasResult" nillable="true" type="q18:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorObjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="AcompanhamentoStatus" nillable="true" type="q19:AcompanhamentoStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarStatusPacotePorObjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="AtualizarStatusPacotePorObjetoResult" nillable="true" type="q20:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarProdutoPacote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="PacoteProduto" nillable="true" type="q21:ArrayOfPacoteProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarProdutoPacoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="AdicionarProdutoPacoteResult" nillable="true" type="q22:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProdutoPacote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="PacoteProduto" nillable="true" type="q23:ArrayOfPacoteProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverProdutoPacoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="RemoverProdutoPacoteResult" nillable="true" type="q24:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCupomDesconto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" minOccurs="0" name="CupomDesconto" nillable="true" type="q25:CupomDesconto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCupomDescontoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" minOccurs="0" name="SalvarCupomDescontoResult" nillable="true" type="q26:RespostaProcessamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>