Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPedidoWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ezCommerce.BusinessEntities.Filters" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Produto" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" />
      <xsd:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Cliente" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoWS_PedidosDisponiveisComFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosDisponiveisComFiltro" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_PedidosDisponiveisComFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosDisponiveisComFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_PedidosDisponiveis_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosDisponiveis" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_PedidosDisponiveis_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosDisponiveisResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_PedidosAtualizados_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosAtualizados" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_PedidosAtualizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosAtualizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoAtualizado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoAtualizado" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoAtualizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoAtualizadoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoLst_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoLst" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoLst_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoLstResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoAtualizadoLst_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoAtualizadoLst" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_ConfirmaRecebimentoPedidoAtualizadoLst_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaRecebimentoPedidoAtualizadoLstResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPedido" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_CriarPacote_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarPacote" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_CriarPacote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarPacoteResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverPacotePorPacoteID_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverPacotePorPacoteID" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverPacotePorPacoteID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverPacotePorPacoteIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverPacotePorCodigoBarras_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverPacotePorCodigoBarras" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverPacotePorCodigoBarras_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverPacotePorCodigoBarrasResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorPacoteID_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorPacoteID" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorPacoteID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorPacoteIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorCodigoBarras_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorCodigoBarras" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorCodigoBarras_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorCodigoBarrasResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorObjeto" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AtualizarStatusPacotePorObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarStatusPacotePorObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AdicionarProdutoPacote_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarProdutoPacote" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_AdicionarProdutoPacote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarProdutoPacoteResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverProdutoPacote_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoPacote" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_RemoverProdutoPacote_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoPacoteResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_SalvarCupomDesconto_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCupomDesconto" />
  </wsdl:message>
  <wsdl:message name="IPedidoWS_SalvarCupomDesconto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCupomDescontoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoWS">
    <wsdl:operation name="PedidosDisponiveisComFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/PedidosDisponiveisComFiltro" message="tns:IPedidoWS_PedidosDisponiveisComFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/PedidosDisponiveisComFiltroResponse" message="tns:IPedidoWS_PedidosDisponiveisComFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidosDisponiveis">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/PedidosDisponiveis" message="tns:IPedidoWS_PedidosDisponiveis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/PedidosDisponiveisResponse" message="tns:IPedidoWS_PedidosDisponiveis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidosAtualizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/PedidosAtualizados" message="tns:IPedidoWS_PedidosAtualizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/PedidosAtualizadosResponse" message="tns:IPedidoWS_PedidosAtualizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedido" message="tns:IPedidoWS_ConfirmaRecebimentoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoResponse" message="tns:IPedidoWS_ConfirmaRecebimentoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoAtualizado">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizado" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoAtualizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizadoResponse" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoAtualizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoLst">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoLst" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoLst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoLstResponse" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoLst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoAtualizadoLst">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizadoLst" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoAtualizadoLst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizadoLstResponse" message="tns:IPedidoWS_ConfirmaRecebimentoPedidoAtualizadoLst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPedido" message="tns:IPedidoWS_AtualizarStatusPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPedidoResponse" message="tns:IPedidoWS_AtualizarStatusPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarPacote">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/CriarPacote" message="tns:IPedidoWS_CriarPacote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/CriarPacoteResponse" message="tns:IPedidoWS_CriarPacote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverPacotePorPacoteID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/RemoverPacotePorPacoteID" message="tns:IPedidoWS_RemoverPacotePorPacoteID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/RemoverPacotePorPacoteIDResponse" message="tns:IPedidoWS_RemoverPacotePorPacoteID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverPacotePorCodigoBarras">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/RemoverPacotePorCodigoBarras" message="tns:IPedidoWS_RemoverPacotePorCodigoBarras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/RemoverPacotePorCodigoBarrasResponse" message="tns:IPedidoWS_RemoverPacotePorCodigoBarras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorPacoteID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorPacoteID" message="tns:IPedidoWS_AtualizarStatusPacotePorPacoteID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorPacoteIDResponse" message="tns:IPedidoWS_AtualizarStatusPacotePorPacoteID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorCodigoBarras">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorCodigoBarras" message="tns:IPedidoWS_AtualizarStatusPacotePorCodigoBarras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorCodigoBarrasResponse" message="tns:IPedidoWS_AtualizarStatusPacotePorCodigoBarras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorObjeto" message="tns:IPedidoWS_AtualizarStatusPacotePorObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorObjetoResponse" message="tns:IPedidoWS_AtualizarStatusPacotePorObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarProdutoPacote">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/AdicionarProdutoPacote" message="tns:IPedidoWS_AdicionarProdutoPacote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/AdicionarProdutoPacoteResponse" message="tns:IPedidoWS_AdicionarProdutoPacote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProdutoPacote">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/RemoverProdutoPacote" message="tns:IPedidoWS_RemoverProdutoPacote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/RemoverProdutoPacoteResponse" message="tns:IPedidoWS_RemoverProdutoPacote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarCupomDesconto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoWS/SalvarCupomDesconto" message="tns:IPedidoWS_SalvarCupomDesconto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoWS/SalvarCupomDescontoResponse" message="tns:IPedidoWS_SalvarCupomDesconto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoWS" type="tns:IPedidoWS">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPedidoWS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PedidosDisponiveisComFiltro">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/PedidosDisponiveisComFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidosDisponiveis">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/PedidosDisponiveis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidosAtualizados">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/PedidosAtualizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoAtualizado">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoLst">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaRecebimentoPedidoAtualizadoLst">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/ConfirmaRecebimentoPedidoAtualizadoLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPedido">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/AtualizarStatusPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarPacote">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/CriarPacote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverPacotePorPacoteID">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/RemoverPacotePorPacoteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverPacotePorCodigoBarras">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/RemoverPacotePorCodigoBarras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorPacoteID">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorPacoteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorCodigoBarras">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorCodigoBarras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarStatusPacotePorObjeto">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/AtualizarStatusPacotePorObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarProdutoPacote">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/AdicionarProdutoPacote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverProdutoPacote">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/RemoverProdutoPacote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarCupomDesconto">
      <soap:operation soapAction="http://tempuri.org/IPedidoWS/SalvarCupomDesconto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoWS">
    <wsdl:port name="BasicHttpBinding_IPedidoWS" binding="tns:BasicHttpBinding_IPedidoWS">
      <soap:address location="http://services03.ezcommerce.com.br/PedidoWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>