Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Produto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Produto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Produto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q1:EntidadeBase">
        <xs:sequence>
          <xs:element name="Altura" type="xs:double" />
          <xs:element minOccurs="0" name="ArremateCodigos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociacaoID" type="xs:int" />
          <xs:element minOccurs="0" name="Associacoes" nillable="true" type="tns:ArrayOfAssociacao" />
          <xs:element name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CamposExtendidos" nillable="true" type="tns:ArrayOfCampoExtendido" />
          <xs:element name="Classificacao" type="tns:ClassificacaoProdutoEnum" />
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Conteudo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Custo" type="xs:decimal" />
          <xs:element minOccurs="0" name="DataEntrada" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataSaida" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DescricaoCurta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescricaoLonga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisponibilidadeEmEstoque" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisponibilidadeSemEstoque" nillable="true" type="xs:int" />
          <xs:element name="EstoqueAtual" type="xs:int" />
          <xs:element name="EstoqueMinimo" type="xs:int" />
          <xs:element name="ExibirDisponibilidade" type="xs:boolean" />
          <xs:element minOccurs="0" name="FornecedorID" nillable="true" type="xs:int" />
          <xs:element name="FreteGratis" type="xs:boolean" />
          <xs:element name="Largura" type="xs:double" />
          <xs:element minOccurs="0" name="MarcaID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MercadoLivreCodigos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaKeywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroMaximoParcelas" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PalavrasParaPesquisa" nillable="true" type="xs:string" />
          <xs:element name="Peso" type="xs:double" />
          <xs:element minOccurs="0" name="PesoCubico" nillable="true" type="xs:double" />
          <xs:element name="PreVenda" type="xs:boolean" />
          <xs:element minOccurs="0" name="PreVendaData" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PreVendaLimite" nillable="true" type="xs:int" />
          <xs:element name="Preco" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecoPromocional" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Presente" type="xs:int" />
          <xs:element minOccurs="0" name="PresenteValor" type="xs:double" />
          <xs:element name="PrevalecerPreco" type="tns:PrevalecerPrecoEnum" />
          <xs:element name="Profundidade" type="xs:double" />
          <xs:element name="Promocao" type="xs:boolean" />
          <xs:element minOccurs="0" name="PromocaoFim" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PromocaoInicio" nillable="true" type="xs:dateTime" />
          <xs:element name="QuantidadeMaximaPorCliente" type="xs:int" />
          <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
          <xs:element name="SemEntrega" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SiteCategoriaAlternativas" nillable="true" type="q2:ArrayOfint" />
          <xs:element name="SiteCategoriaPrincipal" type="xs:int" />
          <xs:element minOccurs="0" name="Taxa" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TermoDeAceitacao" nillable="true" type="xs:string" />
          <xs:element name="Tipo" type="tns:TipoProdutoEnum" />
          <xs:element name="TipoDisponibilidade" type="tns:TipoDisponibilidadeEnum" />
          <xs:element name="TipoReposicao" type="tns:TipoReposicaoEnum" />
          <xs:element minOccurs="0" name="TituloSubVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TituloVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TodoOfertaCodigos" nillable="true" type="xs:string" />
          <xs:element name="VendaSemEstoque" type="xs:boolean" />
          <xs:element minOccurs="0" name="VendaSemEstoqueData" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VendaSemEstoqueLimite" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Video" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisualizaBusca" type="xs:int" />
          <xs:element minOccurs="0" name="VisualizaLogado" type="xs:int" />
          <xs:element minOccurs="0" name="VisualizaPreco" type="xs:int" />
          <xs:element minOccurs="0" name="VisualizaUrlDireta" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="ArrayOfAssociacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Associacao" nillable="true" type="tns:Associacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssociacao" nillable="true" type="tns:ArrayOfAssociacao" />
  <xs:complexType name="Associacao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q3:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Associacao" nillable="true" type="tns:Associacao" />
  <xs:complexType name="ArrayOfCampoExtendido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampoExtendido" nillable="true" type="tns:CampoExtendido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampoExtendido" nillable="true" type="tns:ArrayOfCampoExtendido" />
  <xs:complexType name="CampoExtendido">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q4:EntidadeBase">
        <xs:sequence>
          <xs:element name="Alias" nillable="true" type="xs:string" />
          <xs:element name="Valor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CampoExtendido" nillable="true" type="tns:CampoExtendido" />
  <xs:simpleType name="ClassificacaoProdutoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Novo" />
      <xs:enumeration value="SemiNovo" />
      <xs:enumeration value="Usado" />
      <xs:enumeration value="Remanufaturado" />
      <xs:enumeration value="NaoExibir" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClassificacaoProdutoEnum" nillable="true" type="tns:ClassificacaoProdutoEnum" />
  <xs:simpleType name="PrevalecerPrecoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrevalecerPrecoPai">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PrevalecerPreceVariacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrevalecerPrecoEnum" nillable="true" type="tns:PrevalecerPrecoEnum" />
  <xs:simpleType name="TipoProdutoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SemVariacaoNormal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacoesEmComboELista">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacaoEmLista">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacaoCoresTamanhos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacaoCoresEmGrade">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KitDeProdutos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValePresente">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacoesOpcoesEmCombo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ComVariacaoOpcoesEmGradeComPreco">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoProdutoEnum" nillable="true" type="tns:TipoProdutoEnum" />
  <xs:simpleType name="TipoDisponibilidadeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disponivel">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SobEncomenda">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SobConsulta">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Indisponivel">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VendaEncerrada">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDisponibilidadeEnum" nillable="true" type="tns:TipoDisponibilidadeEnum" />
  <xs:simpleType name="TipoReposicaoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Descontinuado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SemValor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoReposicaoEnum" nillable="true" type="tns:TipoReposicaoEnum" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q5:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="MenuAlias" nillable="true" type="xs:string" />
          <xs:element name="MenuID" type="xs:int" />
          <xs:element minOccurs="0" name="MenuTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Vinculavel" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Marca">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q6:EntidadeBase">
        <xs:sequence>
          <xs:element name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Logotipo" nillable="true" type="xs:string" />
          <xs:element name="MarcaID" type="xs:int" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordem" type="xs:int" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
  <xs:complexType name="SiteCategoria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q7:EntidadeBase">
        <xs:sequence>
          <xs:element name="Ativo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordem" type="xs:int" />
          <xs:element minOccurs="0" name="PalavrasChave" nillable="true" type="xs:string" />
          <xs:element name="Redirecionar" type="xs:boolean" />
          <xs:element name="SiteCategoriaID" type="xs:int" />
          <xs:element name="SiteCategoriaPaiId" type="xs:int" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisualizaLogado" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteCategoria" nillable="true" type="tns:SiteCategoria" />
  <xs:complexType name="Fornecedor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q8:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element name="FornecedorID" type="xs:int" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fornecedor" nillable="true" type="tns:Fornecedor" />
  <xs:complexType name="Preco">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q9:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoSubVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoVariacao" nillable="true" type="xs:string" />
          <xs:element name="PrecoProduto" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecoPromocao" nillable="true" type="xs:decimal" />
          <xs:element name="Promocao" type="xs:boolean" />
          <xs:element minOccurs="0" name="PromocaoFim" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PromocaoInicio" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Preco" nillable="true" type="tns:Preco" />
  <xs:complexType name="Estoque">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q10:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoSubVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoVariacao" nillable="true" type="xs:string" />
          <xs:element name="EstoqueAtual" type="xs:int" />
          <xs:element name="EstoqueMinimo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Estoque" nillable="true" type="tns:Estoque" />
  <xs:complexType name="Variacao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q11:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element name="CodigoIntegracaoVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigosMercadoLivre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigosTodaOferta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cor" nillable="true" type="xs:string" />
          <xs:element name="Disponivel" type="xs:boolean" />
          <xs:element minOccurs="0" name="EstoqueAtual" type="xs:int" />
          <xs:element minOccurs="0" name="EstoqueMinimo" type="xs:int" />
          <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:int" />
          <xs:element name="Peso" type="xs:double" />
          <xs:element minOccurs="0" name="PrecoPromocaoVariacao" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecoVariacao" type="xs:decimal" />
          <xs:element name="Promocao" type="xs:boolean" />
          <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Variacao" nillable="true" type="tns:Variacao" />
  <xs:complexType name="Subvariacao">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q12:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element name="CodigoIntegracaoSubVariacao" nillable="true" type="xs:string" />
          <xs:element name="CodigoIntegracaoVariacao" nillable="true" type="xs:string" />
          <xs:element name="Disponivel" type="xs:boolean" />
          <xs:element minOccurs="0" name="EstoqueAtual" type="xs:int" />
          <xs:element minOccurs="0" name="EstoqueMinimo" type="xs:int" />
          <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element name="Ordem" type="xs:int" />
          <xs:element name="Peso" type="xs:double" />
          <xs:element minOccurs="0" name="PrecoPromocaoSubVariacao" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecoSubVariacao" type="xs:decimal" />
          <xs:element name="Promocao" type="xs:boolean" />
          <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Subvariacao" nillable="true" type="tns:Subvariacao" />
  <xs:complexType name="ListaProdutos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q13:EntidadeBase">
        <xs:sequence>
          <xs:element name="Alias" nillable="true" type="xs:string" />
          <xs:element name="Produtos" nillable="true" type="tns:ArrayOfListaProdutosLista" />
          <xs:element minOccurs="0" name="ProdutosListaID" type="xs:int" />
          <xs:element name="Titulo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaProdutos" nillable="true" type="tns:ListaProdutos" />
  <xs:complexType name="ArrayOfListaProdutosLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaProdutosLista" nillable="true" type="tns:ListaProdutosLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaProdutosLista" nillable="true" type="tns:ArrayOfListaProdutosLista" />
  <xs:complexType name="ListaProdutosLista">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q14:EntidadeBase">
        <xs:sequence>
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element name="ListaID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaProdutosLista" nillable="true" type="tns:ListaProdutosLista" />
  <xs:complexType name="MenuRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q15:EntidadeBase">
        <xs:sequence>
          <xs:element name="CategoriaID" type="xs:int" />
          <xs:element name="MenuID" type="xs:int" />
          <xs:element minOccurs="0" name="OrdemSecao" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MenuRelation" nillable="true" type="tns:MenuRelation" />
  <xs:complexType name="ArrayOfMenuRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuRelation" nillable="true" type="tns:MenuRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuRelation" nillable="true" type="tns:ArrayOfMenuRelation" />
</xs:schema>