Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="StatusPedido">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q1:EntidadeBase">
        <xs:sequence>
          <xs:element name="NotificarCliente" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumeroObjeto" nillable="true" type="xs:string" />
          <xs:element name="PedidoID" type="xs:int" />
          <xs:element name="StatusID" type="xs:int" />
          <xs:element name="TemplateEmailID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusPedido" nillable="true" type="tns:StatusPedido" />
  <xs:complexType name="PacoteProduto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q2:EntidadeBase">
        <xs:sequence>
          <xs:element name="Data" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PacoteID" type="xs:int" />
          <xs:element name="ProdutoCodigo" nillable="true" type="xs:string" />
          <xs:element name="Quantidade" type="xs:int" />
          <xs:element minOccurs="0" name="SubVariacaoCodigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VariacaoCodigo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PacoteProduto" nillable="true" type="tns:PacoteProduto" />
  <xs:complexType name="ArrayOfPacoteProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacoteProduto" nillable="true" type="tns:PacoteProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacoteProduto" nillable="true" type="tns:ArrayOfPacoteProduto" />
  <xs:complexType name="Pacote">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q3:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoBarra" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoObjeto" nillable="true" type="xs:string" />
          <xs:element name="DataCriacao" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataEntrega" nillable="true" type="xs:dateTime" />
          <xs:element name="Entregue" type="xs:boolean" />
          <xs:element name="FormaDeEnvio" type="xs:int" />
          <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PacoteID" nillable="true" type="xs:int" />
          <xs:element name="PacoteProdutos" nillable="true" type="tns:ArrayOfPacoteProduto" />
          <xs:element name="PedidoCodigo" type="xs:int" />
          <xs:element minOccurs="0" name="TrackingStatus" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pacote" nillable="true" type="tns:Pacote" />
  <xs:complexType name="PacoteAcompanhamentoStatus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q4:EntidadeBase">
        <xs:sequence>
          <xs:element name="Data" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element name="PacoteID" type="xs:int" />
          <xs:element name="TrackingStatusID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PacoteAcompanhamentoStatus" nillable="true" type="tns:PacoteAcompanhamentoStatus" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q5:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AfiliadoID" nillable="true" type="xs:int" />
          <xs:element name="ClienteID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfirmacaoPagamento" nillable="true" type="tns:ConfirmacaoPagamento" />
          <xs:element name="CupomCodigo" nillable="true" type="xs:string" />
          <xs:element name="CupomValorDesconto" type="xs:decimal" />
          <xs:element name="DataVenda" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ETA" nillable="true" type="xs:int" />
          <xs:element name="EntregaBairro" nillable="true" type="xs:string" />
          <xs:element name="EntregaCEP" nillable="true" type="xs:string" />
          <xs:element name="EntregaCidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntregaComplementoEndereco" nillable="true" type="xs:string" />
          <xs:element name="EntregaEmail" nillable="true" type="xs:string" />
          <xs:element name="EntregaEstado" nillable="true" type="xs:string" />
          <xs:element name="EntregaLogradouro" nillable="true" type="xs:string" />
          <xs:element name="EntregaNome" nillable="true" type="xs:string" />
          <xs:element name="EntregaNumero" nillable="true" type="xs:string" />
          <xs:element name="EntregaPais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntregaTelefone" nillable="true" type="xs:string" />
          <xs:element name="FormaDePagamento" nillable="true" type="tns:FormaDePagamento" />
          <xs:element minOccurs="0" name="FormaEntregaAlias" nillable="true" type="xs:string" />
          <xs:element name="FormaEntregaID" type="xs:int" />
          <xs:element minOccurs="0" name="FreteCodEnvio" nillable="true" type="xs:string" />
          <xs:element name="Itens" nillable="true" type="tns:ArrayOfPedidoItem" />
          <xs:element minOccurs="0" name="MaiordisponibilidadeItem" nillable="true" type="xs:int" />
          <xs:element name="NumeroRegistroCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObservacoesLoja" nillable="true" type="xs:string" />
          <xs:element name="PedidoID" type="xs:int" />
          <xs:element name="PrevisaoEntregaEmDias" type="xs:int" />
          <xs:element name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:int" />
          <xs:element name="TipoCliente" nillable="true" type="xs:string" />
          <xs:element name="ValorDesconto" type="xs:decimal" />
          <xs:element name="ValorEmbalagemPresente" type="xs:decimal" />
          <xs:element name="ValorEncargos" type="xs:decimal" />
          <xs:element name="ValorFrete" type="xs:decimal" />
          <xs:element name="ValorTotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ConfirmacaoPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoErro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCaptura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTransacaoBraspag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemErro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroAutorizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmacaoPagamento" nillable="true" type="tns:ConfirmacaoPagamento" />
  <xs:complexType name="FormaDePagamento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q6:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BoletoNumeroBancario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BoletoVencimento" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CartaoCodigoAutorizacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CartaoCodigoSeguranca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CartaoNomeImpresso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CartaoNumero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CartaoQuantidadeParcelas" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CartaoValidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormaPagamentoAlias" nillable="true" type="xs:string" />
          <xs:element name="FormaPagamentoID" type="xs:int" />
          <xs:element name="Valor" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FormaDePagamento" nillable="true" type="tns:FormaDePagamento" />
  <xs:complexType name="ArrayOfPedidoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoItem" nillable="true" type="tns:PedidoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoItem" nillable="true" type="tns:ArrayOfPedidoItem" />
  <xs:complexType name="PedidoItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q7:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AtributosEspeciais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoDoProduto" type="xs:int" />
          <xs:element name="CodigoIntegracao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoSubVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIntegracaoVariacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisponibilidadeItem" nillable="true" type="xs:int" />
          <xs:element name="EmbalagemPresente" type="xs:boolean" />
          <xs:element minOccurs="0" name="NomeDoProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrecoCusto" nillable="true" type="xs:double" />
          <xs:element name="PrecoUnitario" type="xs:double" />
          <xs:element name="PrevisaoEntregaEmDias" type="xs:int" />
          <xs:element name="Quantidade" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PedidoItem" nillable="true" type="tns:PedidoItem" />
  <xs:complexType name="ArrayOfPedidoAcompanhamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoAcompanhamento" nillable="true" type="tns:PedidoAcompanhamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoAcompanhamento" nillable="true" type="tns:ArrayOfPedidoAcompanhamento" />
  <xs:complexType name="PedidoAcompanhamento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q8:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataAtualizacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PedidoID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PedidoAcompanhamento" nillable="true" type="tns:PedidoAcompanhamento" />
  <xs:complexType name="AcompanhamentoStatus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q9:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlteraStatusPara" nillable="true" type="xs:int" />
          <xs:element name="AlteraStatusPedido" type="xs:boolean" />
          <xs:element minOccurs="0" name="CodigoBarra" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailTemplate" nillable="true" type="xs:int" />
          <xs:element name="EnviaEmail" type="xs:boolean" />
          <xs:element name="FinalizaTracking" type="xs:boolean" />
          <xs:element name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordem" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PacoteID" nillable="true" type="xs:int" />
          <xs:element name="Publico" type="xs:boolean" />
          <xs:element name="TrackingStatusID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcompanhamentoStatus" nillable="true" type="tns:AcompanhamentoStatus" />
  <xs:complexType name="CupomDesconto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q10:EntidadeBase">
        <xs:sequence>
          <xs:element name="Ativo" type="xs:boolean" />
          <xs:element name="Clube" type="xs:boolean" />
          <xs:element minOccurs="0" name="ClubePalavraChave" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClubeTemplate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClubeTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cupom" nillable="true" type="xs:string" />
          <xs:element name="DataFim" type="xs:dateTime" />
          <xs:element name="DataInicio" type="xs:dateTime" />
          <xs:element name="Desconto" type="xs:boolean" />
          <xs:element name="FreteGratis" type="xs:boolean" />
          <xs:element name="LimiteUso" type="tns:LimiteUsoEnum" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Produtos" nillable="true" type="q11:ArrayOfstring" />
          <xs:element minOccurs="0" name="TipoDesconto" type="tns:TipoDescontoEnum" />
          <xs:element name="Titulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValorDesconto" nillable="true" type="xs:decimal" />
          <xs:element name="ValorMinimo" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CupomDesconto" nillable="true" type="tns:CupomDesconto" />
  <xs:simpleType name="LimiteUsoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UmaVez">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Indeterminado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SemValor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LimiteUsoEnum" nillable="true" type="tns:LimiteUsoEnum" />
  <xs:simpleType name="TipoDescontoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Percentual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">80</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Valor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">86</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SemValor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDescontoEnum" nillable="true" type="tns:TipoDescontoEnum" />
</xs:schema>