Adaptadores_Terceiros/Solution/Service References/Pedidos/PedidoWS6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Cliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel.Cliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" />
  <xs:import schemaLocation="http://services03.ezcommerce.com.br/PedidoWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Cliente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/EZ.Integration.ServiceModel" base="q1:EntidadeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apelido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
          <xs:element name="ClienteID" type="xs:int" />
          <xs:element minOccurs="0" name="ComoDescobriu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
          <xs:element name="DataCadastro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
          <xs:element name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeFantasia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacoes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
          <xs:element name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceberEmail" type="xs:boolean" />
          <xs:element name="Sexo" type="tns:ClienteSexoEnum" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefone2" nillable="true" type="xs:string" />
          <xs:element name="TipoCliente" type="tns:TipoClienteEnum" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:simpleType name="ClienteSexoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Masculino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">77</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Feminino">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClienteSexoEnum" nillable="true" type="tns:ClienteSexoEnum" />
  <xs:simpleType name="TipoClienteEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PessoaFisica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PessoaJuridica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">74</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoClienteEnum" nillable="true" type="tns:TipoClienteEnum" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
</xs:schema>